[submodule "web/bootstrap"]
	path = web/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/symfony"]
	path = vendor/symfony
	url = git://github.com/symfony/symfony.git
