{% extends "layout_expanded.html.twig" %}

{% block header %}
    {{ parent() }}
    <a href="{{ app.request.baseUrl }}" class="btn float-right">Cancel</a>
{% endblock %}

{% block content %}
    <form action="add" method="POST">
        <div class="clearfix">
            <div class="input">
                <input class="span9" placeholder="Issue" name="issue" type="text" value="{{ issue }}">
            </div>
        </div>
        <div class="clearfix">
            <div class="input">
                <textarea name="description" class="span9" placeholder="description here..">{{ description }}</textarea>
            </div>
        </div>

        <div class="actions">
            <input type="submit" name="login" class="btn primary" value="Send">
        </div>
    </form>
{% endblock %}

{% block javascripts %}

{% endblock %}