<?php

return array(
    'debug'     => false,
    'locale'    => 'en',
    'base_url'      => 'http://yourdomain/path/to/web',
    'repositories'  =>  array(
        array(
            'user'  =>  'balloon',
            'repo'  =>  'balloon5',
        ),
    ),
    'pending_repo'   =>  false,
);