<?php

return array(
    'debug'     => true,
    'base_url'  =>  'http://cobalt.dev:8888/GitHubIssues',
    'repositories'  =>  array(
            array('user' => 'balloon', 'repo' => 'balloon4'),
            array('user' => 'balloon', 'repo' => 'balloon5'),
        ),
);