.addform-item input {
    width:270px;
    height:35px;
}

.addform-item textarea {
    width:350px;
    height:100px;
}

.bookmarklet-input {
    width:270px;
    height:35px;
}

.login-form {
    position:absolute;
    width:300px;
    top:90px;
}

.login-message {
    position:absolute;
    top:90px;
    left:35px;
}

