#BalloonGithubIssuesFrame{
    z-index: 100000;
    position: fixed;
    top: 60px;
    right: 10px;
    height:385px;
    width: 450px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(50, 50, 50, 0.597656) 0px 0px 150px;
    border : none;
    overflow: hidden;
}

