/* Override some defaults */
html, body {
  width: 100px;
}
.span16 {
  width:445px;
}
.content {
  width:429px;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 445px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

#addIssue input {
    width: 200px;
    height: 35px;
    font-size: 1.5em;
}

#addIssue textarea {
    height: 100px;
    width: 200px;
}

.bookmarklet-quit {
    position:absolute;
    left: 380px;
    top: 5px;
}

