/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 940px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.tabs {
    margin-top: 10px;
    margin-bottom: -10px;
    border: none;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar {
    z-index: 8888;
}

.topbar .btn {
  border: 0;
}

.input-small {
    height: 27px;
    width: 109px;
    padding-top: 5px;
}

.modal-footer small {
    float: right;
    color: #aaa;
    font-size: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.inline {
    display: inline-block;
}

#change-repo {
    margin: 0;
}

.dropdown-menu a {
  display: block;
  padding: 4px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #808080;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 12px;
}

.addform-item input {
    width:270px;
    height:35px;
}

.addform-item textarea {
    width:350px;
    height:100px;
}

.bookmarklet-input {
    width:270px;
    height:35px;
}

.login-form {
    position:absolute;
    width:300px;
    top:90px;
}

.login-message {
    position:absolute;
    top:90px;
    left:35px;
}


ul.dropdown-menu {
    top: 30px;
}

small {
    color: #484848;
    font-size: 10px;
    font-weight: bold;
}

#addIssue label {
    width: 200px;
    margin-right: 15px;
}

#addIssue div {
    margin-bottom: 15px;
}

#addIssue input {
    width: 500px;
    height: 35px;
    font-size: 1.5em;
}

#addIssue textarea {
    height: 100px;
    width: 500px;
}
/*Customisation Checkboxes*/

#form_labels{
    padding-top:6px;
}
#form_labels > label{
    width:auto;
    float:none;
    font-size:1.2em;
    font-weight:bold;
    cursor:pointer;
}

#form_labels > input[type="checkbox"]:checked,
#form_labels > input[type="checkbox"]:not(:checked)
{
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	opacity: 0;
	position: absolute;
	clip: rect(0 0 0 0);
	clip: rect(0,0,0,0);
	-webkit-appearance:	none;
	-moz-appearance:	none;
	-o-appearance:		none;
	appearance:		none;
}

input[type="checkbox"]+label:hover
{
	color:#0064CD;
	text-decoration:underline;
	
}
input[type="checkbox"]:checked+label
{
	color:#0064CD;
	text-decoration:underline;
}

/*Fin checkboxes*/

.milestone .progress {
    float: right;
    margin-top: 5px;
    width: 390px;
}

.milestone .progress-bar {
    position: relative;
    background: #E2E2E2;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2e2e2',endColorstr='#d8d8d8');
    background: -webkit-gradient(linear,left top,left bottom,from(#E2E2E2),to(#D8D8D8));
    background: -moz-linear-gradient(top,#E2E2E2,#D8D8D8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    display: block;
    margin: 0;
    top: 0;
    height: 30px;
}

.milestone .progress-bar .progress {
    background: #8DCF16;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8dcf16',endColorstr='#65bd10');
    background: -webkit-gradient(linear,left top,left bottom,from(#8DCF16),to(#65BD10));
    background: -moz-linear-gradient(top,#8DCF16,#65BD10);
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    display: block;
    float: none;
    height: 30px;
}

.milestone .progress-bar .percent {
    position: absolute;
    top: 4px;
    left: 7px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.milestone h3, .milestone p {
    padding-left: 20px;
}

.popover {
    z-index: 9999;
}

.popover .inner {
    width: 350px !important;
}

.popover .content {
    margin: 0;
    padding: 5px;
}

