{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert-message {{ type }}">{{ flashMessage }}</div>
    {% endfor %}
{% endfor %}
{{ app.session.clearFlashes() }}